#mainContainer{
  width:100%;
  margin:auto;
}

#mainContainer h1 {
  text-align: center;
}

.todoAppContainer{

}

.alexaButtonContainer{

}

#alexa-button{

}

.soonestTaskContainer{

}

#soonest-task{

}

.textListContainer{
  
}
